
Homework 1/AI2024-hw1/__pycache__/

Homework 1/AI2024-hw1/.idea/

*.zip

Homework 2/AI2024-hw2/__pycache__/

Homework 2/AI2024-hw2/.idea/

Homework 3/AI2024-hw3/__pycache__/

Homework 3/AI2024-hw3/.idea/

Homework 4/AI2024-hw4/__pycache__/

Homework 4/AI2024-hw4/.idea/

Homework 5/.idea/

Homework 5/AI2024-hw5/__pycache__/

Homework 5/AI2024-hw5/.idea/

Homework 5/AI2024-hw5/.DS_Store

Homework 5/AI2024-hw5/submissions/

Homework 5/v1/AI2024-hw5/__pycache__/

Homework 5/v1/AI2024-hw5/.idea/

Homework 5/v1/

Homework 5/v2 backup/

Homework 6/AI2024-hw6/__pycache__/

Homework 6/AI2024-hw6/.idea/

Homework 6/AI2024-hw6/submission/
